body{
    background-image: url("https://ssl.bigstockimages.com/4/7/2/large1500/274552948.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cal{
    width: 370px;
    height: 480px;
    background: rgb(58, 59, 59);
    margin-left: 450px;
    margin-top: 55px;
    border-radius: 20px;
    border: solid rgb(67, 98, 126);
    border-width: 8px;
    box-shadow: 8px 8px rgb(78, 79, 80);
}
#screen
{
    width: 80%;
    height: 50px;
    margin-left: 30px;
    pointer-events: none;
    margin-top: 50px;
    background: rgb(153, 177, 98);
    border-color: rgb(29, 24, 24);

  
}
.btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 50px;
    height: 45px;
    border-radius: 8px;
    border-color: rgb(82, 78, 78);
    background: rgb(3, 3, 3);
    
    
}
.bn{
    margin-top: 45px;
    margin-left: 282px;
    width: 50px;
    height: 45px;
    border-radius: 8px;
    border-color: rgb(204, 45, 45);
    background: rgb(146, 13, 13);
}
.bt{
    
    margin-left: 30px;
    width: 50px;
    height: 45px;
    border-radius: 8px;
    background: rgb(135, 146, 146);
    border-color: rgb(98, 110, 110);

}