*{
	padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.menu li{
    list-style-type:none;
	text-transform:uppercase;
	color:#fff;
	display:inline-block;
    font-weight:bolder;
    padding: 10px;
}
.menu li a{
    text-decoration: none;
    padding-bottom: 5px;
    color: #ffffff;
}
.menu li:hover a{
    border-bottom: 2px solid #fff;
}
.menu{
    text-align: right;text-align: right;
    background: #332f2f;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}
.homebg{
	background:url("portfoliobg.jpg");
	width:100%;
	height:100vh;
	background-repeat:no-repeat;
    background-size:cover;
    margin-top: 68px;
}
.herotext{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 180px;
    padding-left: 100px;
}
.herotext h1{
    font-size: 60px;
    line-height: 80px;
    color: #ffffff;
}
.social-icons{
    margin-top: 40px;
    padding-left: 100px;
}
.social-icons ul li{
    display: inline-block;

}
.social-icons ul li img{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.intro{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    margin-left: 80px;
}
.abouth{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategray;
    text-transform:uppercase;
    border-bottom: 2px solid darkslategray;
    padding-top: 60px;
    font-size: 40px;
    margin-bottom: 20px; ;
    display: inline-block;
    margin: 0 auto;
}
.about-description{
    display: block;
    padding-top: 40px;
}
.about{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategray;
    text-transform:capitalize;
    font-size: 30px;
    padding-bottom: 20px;
}
.description{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 100px;
    width: 500px;
}
.areu{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.roshimg{
    display: inline-block;
    margin-left: 200px;
}
.aboutbg{
    background: -webkit-linear-gradient(to right, #eca72a, #e1eec3);
    background: linear-gradient(to right, #eca72a, #e1eec3);
    text-align:center;
}
.skillimg{
    background: -webkit-linear-gradient(to right, #60878a, #e1eec3);
    background: linear-gradient(to right, #60878a, #e1eec3);
    text-align: center;
}
.skill{
    padding-top: 40px;
}

.skill li{
    list-style-type:none;
	text-transform:uppercase;
	color:blue;
    font-weight:bolder;
    padding: 10px;
    text-align: center;
}
.project{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategray;
    text-transform:capitalize;
    font-size: 40px;
    margin:50px;
    text-align: center;
}
.botanica{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategray;
    text-transform:capitalize;
    font-size: 20px;
}
.contactbg{
	background:url("registerbgimg.jpg");
	width:100%;
	height:100vh;
	background-repeat:no-repeat;
    background-size:cover;
    padding-top: 200px;
}
.registerh{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 20, 43);
    text-transform:capitalize;
    font-size: 40px;
    padding-bottom: 20px;
}
.submit{
	background-color: lightcoral;
	border-radius:3px;
    display:inline-block;
    padding: 5px;
}
.weblink{
    text-decoration: none;
    padding-bottom: 50px;
    display: block;
    font-size: 25px;
    padding-top: 20px;
    display: block;
    
}
.prjt-sec{
    text-align: left;
    padding-left: 150px;
}

