body {
    background-color: rgb(155, 35, 35);
}

.main-body {
    width: 400px;
    height: 600px;
    background: white;
    margin-top: 2.5%;
    border-radius: 7%;
    border-color: black;
    padding-top: 10px;
    font-family: 'Alata', sans-serif;
}

#screen {
    margin-top: 15px;
    width: 70%;
    height: 40px;
    pointer-events: none;
    border-color: crimson;
    background-color: rgb(212, 142, 212);
}
.btn {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(112, 111, 40);
    border-radius: 50%;
}
.clr {
    width: 60px;
    height: 60px;
    margin-left: 315px;
    margin-top: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}
.add {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(103, 216, 10);
    border-radius: 50%;
}
.neg {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(12, 209, 183);
    border-radius: 50%;
}
.mul {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(230, 23, 195);
    border-radius: 50%;
}
.by {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(82, 12, 211);
    border-radius: 50%;
}