.grid div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: black;
}

.playerX {
    background-image: url('IMG-20200824-WA0644.jpg')
}
.player0 {
    background-image: url('IMG-20200824-WA0646.jpg')
}
